.card { 
    padding: 10px;
    background-color:#d1d6a2;
    gap: 20px;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gambar{
    width: 200px;
    height: 200px;
    object-fit:cover;
    max-width: 200px;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #694E4E;
}

.text{
    padding: 10px;
    color: black;
    font-size: small;
    text-align: justify;
}

